@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #405189; /* Set your desired color here */
    --nav-color: #ffffffff;
    --navtext-color: rgb(20, 20, 20);
  }