

  /* For sticky breadcrumbs */
.sticky {
  position: sticky;
  top: 4rem; /* Adjust depending on your navbar height */
  z-index: 10;
 
  padding: 0.5rem;
}

/* For making the breadcrumbs look better */
.MuiBreadcrumbs-root {
  font-size: 0.875rem;
}

.MuiBreadcrumbs-link {
  color: #333;
}
.MuiBreadcrumbs-separator {
  color: #ccc;
}