<div class="breadcrumb">
  <h1>Badges</h1>
  <ul>
    <li>UI Kits</li>
    <li>Badges</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="card-title mb-3">Badge outline</div>

        <span class="badge badge-pill badge-outline-primary p-2 me-1">Primary</span>
        <span class="badge badge-pill badge-outline-secondary p-2 me-1">Secondary</span>
        <span class="badge badge-pill badge-outline-success p-2 me-1">Success</span>
        <span class="badge badge-pill badge-outline-danger p-2 me-1">Danger</span>
        <span class="badge badge-pill badge-outline-warning p-2 me-1">Warning</span>
        <span class="badge badge-pill badge-outline-info p-2 me-1">Info</span>
        <span class="badge badge-pill badge-outline-dark p-2 me-1">Dark</span>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Inside Button & Positioned</div>
        <button type="button" class="btn btn-primary me-4">
          Notifications <span class="badge text-bg-secondary">4</span>
        </button>

        <button type="button" class="btn btn-primary position-relative me-4">
          Inbox
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
        <button type="button" class="btn btn-primary position-relative">
          Profile
          <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Regular Badges</div>
        <span class="badge text-bg-primary me-1">Primary</span>
        <span class="badge text-bg-secondary me-1">Secondary</span>
        <span class="badge text-bg-success me-1">Success</span>
        <span class="badge text-bg-danger me-1">Danger</span>
        <span class="badge text-bg-warning me-1">Warning</span>
        <span class="badge text-bg-info me-1">Info</span>
        <span class="badge text-bg-light me-1">Light</span>
        <span class="badge text-bg-dark me-1">Dark</span>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="card-title mb-3">Badge Pill</div>

        <span class="badge rounded-pill text-bg-primary me-1">Primary</span>
        <span class="badge rounded-pill text-bg-secondary me-1">Secondary</span>
        <span class="badge rounded-pill text-bg-success me-1">Success</span>
        <span class="badge rounded-pill text-bg-danger me-1">Danger</span>
        <span class="badge rounded-pill text-bg-warning me-1">Warning</span>
        <span class="badge rounded-pill text-bg-info me-1">Info</span>
        <span class="badge rounded-pill text-bg-light me-1">Light</span>
        <span class="badge rounded-pill text-bg-dark me-1">Dark</span>
      </div>
    </div>
  </div>

</div>